In [2]:
import numpy as np
import pandas as pd

### **Misha Suresh**


# Q1. K-means Clustering

$1.$ What is the center of the first cluster (red) after one iteration?

In [37]:
# Using Euclidean Distance
data = {
    'Data': [(5.9, 3.2), (4.6, 2.9), (6.2, 2.8), (4.7, 3.2), (5.0, 3.0), (5.5, 4.2), (4.9, 3.1), (6.7, 3.1), (5.1, 3.8), (6.0, 3.0)],
    'Red (6.2, 3.2)': [0.30, 1.63, 0.40, 1.50, 1.22, 1.22, 1.30, 0.51, 1.25, 0.28],
    'Blue (6.5, 3.0)': [0.63, 1.90, 0.36, 1.81, 1.50, 1.56, 1.60, 0.22, 1.61, 0.50],
    'Green (6.6, 3.7)': [0.86, 2.15, 0.98, 1.96, 1.75, 1.21, 1.80, 0.61, 1.50, 0.92]
}

df = pd.DataFrame(data)
df

         Data  Red (6.2, 3.2)  Blue (6.5, 3.0)  Green (6.6, 3.7)
0  (5.9, 3.2)            0.30             0.63              0.86
1  (4.6, 2.9)            1.63             1.90              2.15
2  (6.2, 2.8)            0.40             0.36              0.98
3  (4.7, 3.2)            1.50             1.81              1.96
4  (5.0, 3.0)            1.22             1.50              1.75
5  (5.5, 4.2)            1.22             1.56              1.21
6  (4.9, 3.1)            1.30             1.60              1.80
7  (6.7, 3.1)            0.51             0.22              0.61
8  (5.1, 3.8)            1.25             1.61              1.50
9  (6.0, 3.0)            0.28             0.50              0.92

In [42]:
# Using Euclidean Distance -- for second iteration
second_iter = {
    'Data': [(5.9, 3.2), (4.6, 2.9), (6.2, 2.8), (4.7, 3.2), (5.0, 3.0), (5.5, 4.2), (4.9, 3.1), (6.7, 3.1), (5.1, 3.8), (6.0, 3.0)],
    'Red (5.17, 3.17)': [0.73, 0.63, 1.09, 0.47, 0.24, 1.08, 0.28, 1.53, 0.63, 0.85],
    'Blue (6.45, 2.95)': [0.60, 1.85, 0.29, 1.77, 1.45, 1.57, 1.56, 0.29, 1.60, 0.45],
    'Green (5.5, 4.2)': [1.08, 1.58, 1.57, 1.28, 1.30, 0.00, 1.25, 1.63, 0.57, 1.30]
}

new_df = pd.DataFrame(second_iter)
new_df

         Data  Red (5.17, 3.17)  Blue (6.45, 2.95)  Green (5.5, 4.2)
0  (5.9, 3.2)              0.73               0.60              1.08
1  (4.6, 2.9)              0.63               1.85              1.58
2  (6.2, 2.8)              1.09               0.29              1.57
3  (4.7, 3.2)              0.47               1.77              1.28
4  (5.0, 3.0)              0.24               1.45              1.30
5  (5.5, 4.2)              1.08               1.57              0.00
6  (4.9, 3.1)              0.28               1.56              1.25
7  (6.7, 3.1)              1.53               0.29              1.63
8  (5.1, 3.8)              0.63               1.60              0.57
9  (6.0, 3.0)              0.85               0.45              1.30

In [43]:
# Take average of points assigned to red cluster: 
# (5.9, 3.2), (4.6, 2.9), (4.7, 3.2), (5.0, 3.0), (4.9, 3.1), (5.1, 3.8), (6.0, 3.0)

x1 = np.mean([5.9, 4.6, 4.7, 5.0, 4.9, 5.1, 6.0])
x2 = np.mean([3.2, 2.9, 3.2, 3.0, 3.1, 3.8, 3.0])

print(f"Center of red cluster after one iteration is: ({x1}, {x2})")

# Take average of points assigned to blue cluster: 
# (6.2, 2.8), (6.7, 3.1)

z1 = np.mean([6.2, 6.7])
z2 = np.mean([2.8, 3.1])

print(f"Center of blue cluster after one iteration is: ({z1}, {z2})")

Center of red cluster after one iteration is: (5.171428571428572, 3.1714285714285713)
Center of blue cluster after one iteration is: (6.45, 2.95)

$2.$ What is the center of the second cluster (green) after two iterations?

In [44]:
# Points assigned to green cluster: 
# (5.5, 4.2)

# After first iteration:
x = (5.5, 4.2)

# Second iteration: 
# Points assigned after first iteration: 
# (5.5, 4.2), (5.1, 3.8)

new_x1 = np.mean([5.5, 5.1])
new_x2 = np.mean([4.2, 3.8])

print(f"Center of green cluster after two iterations is: ({new_x1}, {new_x2})")

Center of green cluster after two iterations is: (5.3, 4.0)

In [56]:
# Points assigned to red cluster after 2 iter: 
# (4.6, 2.9), (4.7, 3.2), (5.0, 3.0), (4.9, 3.1)
red1 = np.mean([4.6, 4.7, 5.0, 4.9])
red2 = np.mean([2.9, 3.2, 3.0, 3.1])

# Points assigned to blue cluster after 2 iter:
# (5.9, 3.2), (6.2, 2.8), (6.7, 3.1), (6.0, 3.0)
blue1 = np.mean([5.9, 6.2, 6.7, 6.0])
blue2 = np.mean([3.2, 2.8, 3.1, 3.0])

print(f"Center of red cluster after two iterations is: ({red1}, {red2})")
print(f"Center of blue cluster after two iterations is: ({blue1}, {blue2})")

Center of red cluster after two iterations is: (4.800000000000001, 3.05)
Center of blue cluster after two iterations is: (6.2, 3.025)

In [57]:
# Using Euclidean Distance -- for third iteration
third_iter = {
    'Data': [(5.9, 3.2), (4.6, 2.9), (6.2, 2.8), (4.7, 3.2), (5.0, 3.0), (5.5, 4.2), (4.9, 3.1), (6.7, 3.1), (5.1, 3.8), (6.0, 3.0)],
    'Red (4.8, 3.05)': [1.11, 0.25, 1.42, 0.18, 0.21, 1.35, 0.11, 1.9, 0.81, 1.2],
    'Blue (6.2, 3.03)': [0.35, 1.61, 0.23, 1.51, 1.2, 1.36, 1.3, 0.5, 1.34, 0.21],
    'Green (5.3, 4.0)': [1.0, 1.3, 1.5, 1.0, 1.04, 0.00, 0.98, 1.66, 0.28, 1.22]
}

df = pd.DataFrame(third_iter)
df

         Data  Red (4.8, 3.05)  Blue (6.2, 3.03)  Green (5.3, 4.0)
0  (5.9, 3.2)             1.11              0.35              1.00
1  (4.6, 2.9)             0.25              1.61              1.30
2  (6.2, 2.8)             1.42              0.23              1.50
3  (4.7, 3.2)             0.18              1.51              1.00
4  (5.0, 3.0)             0.21              1.20              1.04
5  (5.5, 4.2)             1.35              1.36              0.00
6  (4.9, 3.1)             0.11              1.30              0.98
7  (6.7, 3.1)             1.90              0.50              1.66
8  (5.1, 3.8)             0.81              1.34              0.28
9  (6.0, 3.0)             1.20              0.21              1.22

$3.$ What is the center of the third cluster (blue) when the clustering converges?

In [60]:
# Points assigned to blue cluster after 3 iter:
# (5.9, 3.2), (6.2, 2.8), (6.7, 3.1), (6.0, 3.0)
x1 = np.mean([5.9, 6.2, 6.7, 6.0])
x2 = np.mean([3.2, 2.8, 3.1, 3.0])
print(f"Center of blue cluster after three iterations is: ({x1}, {x2})")

Center of blue cluster after three iterations is: (6.2, 3.025)

$4.$ How many iterations are required for the clusters to converge?

In [61]:
# Points assigned to red cluster after 3 iter:
# (4.6, 2.9), (4.7, 3.2), (5.0, 3.0), (4.9, 3.1)
x1 = np.mean([4.6, 4.7, 5.0, 4.9])
x2 = np.mean([2.9, 3.2, 3.0, 3.1])
print(f"Center of red cluster after three iterations is: ({x1}, {x2})")

Center of red cluster after three iterations is: (4.800000000000001, 3.05)

We can see that the clusters converge after **2** iterations.

# Q2. Hierarchical Clustering

In [70]:
red = np.array([(4.7, 3.2), (4.9, 3.1), (5.0, 3.0), (4.6, 2.9)])
blue = np.array([(5.9, 3.2), (6.0, 3.0), (6.7, 3.1), (6.2, 2.8)])

$1.$ What is the distance between the two clusters if we use the complete linkage?

In [76]:
# Euclidean distances between all points
distances = np.linalg.norm(red[:, np.newaxis, :] - blue, axis=2)
max_dist = np.max(distances)
print(f"The distance between the two clusters using complete linkage is: {max_dist}.")

The distance between the two clusters using complete linkage is: 2.109502310972899.

$2.$ What is the distance between the two clusters if we use the single linkage?

In [77]:
# Euclidean distances between all points
distances = distances = np.linalg.norm(red[:, np.newaxis, :] - blue, axis=2)
min_dist = np.min(distances)
print(f"The distance between the two clusters using single linkage is: {min_dist}.")

The distance between the two clusters using single linkage is: 0.9219544457292891.

$3.$ What is the distance between the two clusters if we use the average linkage?

In [78]:
# Euclidean distances between all points
distances = distances = np.linalg.norm(red[:, np.newaxis, :] - blue, axis=2)
avg_dist = np.mean(distances)
print(f"The distance between the two clusters using single linkage is: {avg_dist}.")

The distance between the two clusters using single linkage is: 1.4128564854895742.

# Q3. Spectral Clustering

$1.$ Write down the Laplacian matrix of this graph

$L = D - A$

$\begin{bmatrix}
2&0&0&0&0&0&0\\
0&2&0&0&0&0&0\\
0&0&2&0&0&0&0\\
0&0&0&1&0&0&0\\
0&0&0&0&1&0&0\\
0&0&0&0&0&1&0\\
0&0&0&0&0&0&1\\
\end{bmatrix}-
\begin{bmatrix}
0&1&1&0&0&0&0\\
1&0&1&0&0&0&0\\
1&1&0&0&0&0&0\\
0&0&0&0&1&0&0\\
0&0&0&1&0&0&0\\
0&0&0&0&0&0&1\\
0&0&0&0&0&1&0\\
\end{bmatrix} \rightarrow L = 
\begin{bmatrix}
2&-1&-1&0&0&0&0\\
-1&2&-1&0&0&0&0\\
-1&-1&2&0&0&0&0\\
0&0&0&1&-1&0&0\\
0&0&0&-1&1&0&0\\
0&0&0&0&0&1&-1\\
0&0&0&0&0&-1&1\\
\end{bmatrix}$

$2.$ What are the first three eigenvectors of the Laplacian matrix (which corresponds to the
smallest eigenvalues)?

First three eigenvectors are where $\lambda = 1$:

$\begin{bmatrix}1\\1\\1\\0\\0\\0\\0\end{bmatrix},
\begin{bmatrix}0\\0\\0\\1\\1\\0\\0\end{bmatrix},
\begin{bmatrix}0\\0\\0\\0\\0\\1\\1\end{bmatrix}$

$3.$ Write down the spectral embedding representations of the data samples using these three
eigenvectors.

$[1, 0, 0], [1, 0, 0], [1, 0, 0], [0, 1, 0], [0, 1, 0], [0, 0, 1], [0, 0, 1]$

# Q4.  Principal Component Analysis (PCA) 

Consider 4 data points in the 2-d space: $A=(−1, −1), B=(0.5, −0.5), C=(1, 1),$ and $D=(−0.5, 0.5)$

$1.$ What is the first principal component?

In [134]:
data = np.array([[-1, -1], [0.5, -0.5], [1, 1], [-0.5, 0.5]])

# Mean of each dimension
mean_x = np.mean(data[:, 0])
mean_y = np.mean(data[:, 1])
covariance_matrix = np.array([[0.625, 0.375], [0.375, 0.625]])
# covariance_matrix
eigenvalues = [1, 0.25]
eigenvectors = [(1, 1), (-1, 1)]
max_evalue = np.max(eigenvalues)
max_evalue, eigenvectors[1]

(1.0, (-1, 1))

Therefore, the first principal component is $\begin{bmatrix}-1\\1\end{bmatrix}$

$2.$ If we project all points into the 1-d subspace by the first principal component, what is the new representation of the four data points?

In [143]:
new_a = np.dot([-1, -1], [-1, 1])
new_b = np.dot([0.5, -0.5], [-1, 1])
new_c = np.dot([1, 1], [-1, 1])
new_d = np.dot([-0.5, 0.5], [-1, 1])

print(f"{new_a}, {new_b}, {new_c}, {new_d}")

0, -1.0, 0, 1.0